#root {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#map-container {
  height: 100%;
  width: 100%;
  background-color: lightgrey;
}

.marker-lighthouse {
  background-image: url("./assets/lighthouse.png");
  background-color: #26e026;
  background-size: contain;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.marker-ship {
  background-image: url("./assets/ship.png");
  background-color: #dd0ea2;
  background-size: contain;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
